<div class="body">
<ng-content/>
<div class="inner">
  <div class="section">
    @for(person of persons;track person){
      <div class="card">
        <p>Gender: {{person.gender}}</p>
        <p>Name: {{person.name}}</p>
        <p>Age: {{person.age}}</p>
        @if(person.age>18){
          <div class="discount">Discount!</div>
      }
      </div>
    }
  </div>
  <div class="section">
    <div class="card">
      <p>total persons Female: {{Females(persons)}}</p>
    </div>

    <div class="card">
      <p>total persons Male: {{Males(persons)}}</p>
    </div>

    <div class="card">
      <p>total persons Discount: {{Disccount(persons)}}</p>
    </div>

    <div class="card">
      <button class="remove" (click)="removeDiscount()">Remove all People with discount</button>
    </div>

  </div>
</div>
</div>
