<!-- directiva de atributos (NgClass) -->
<div [ngClass]="{
  'user-card':password=='123',
  'user-card-black':password=='hola'
}"  ><!-- class="user-card"> -->
  <p>USER CARD COMPONENT</p>
  <p>INPUT NAME: {{name}}</p>
  <p>input EMAIL: {{email}}</p>
  <input type="text" [(ngModel)]="password">

  <button #buttonShow (click)="showButton=!showButton">Show Button</button>
  @if(showButton){
    <button #buttonTest (click)="onSendData()">Send Data</button>
  }@else {
    <p>It is false</p>
  }
  


  <p>PassWord: {{password}}</p>

  <ng-content></ng-content>
</div>
