<!-- directiva de atributos (NgClass) -->
<div [ngClass]="{
  'user-card':password=='123',
  'user-card-black':password=='hola'
}"  ><!-- class="user-card"> -->
  <p [ngStyle]="{
    'background-color': password === 'red'?'red':'yellow'
  }"
  >USER CARD COMPONENT</p>
  <p [class.user-card]="password==='123'">INPUT NAME: {{name}}</p>
  <p [style.background-color]="password ==='red' ?'red':'yellow'">input EMAIL: {{email}}</p>
  <input type="text" [(ngModel)]="password">

  <button #buttonShow (click)="showButton=!showButton">Show Button</button>
  @if(showButton){
    <button #buttonTest (click)="onSendData()">Send Data</button>
  }@else {
    <p>It is false</p>
  }

  <p>PassWord: {{password}}</p>

  <ng-content></ng-content>

  <app-navbar></app-navbar>
  <app-card></app-card>
  <app-alert></app-alert>
</div>
